# Understanding Fishing Vessel's Authorization and Parameters

This notebook is a short excercise for us to understand parameters associated to a fishing vessel, and how is each type of fishing vessel registered. In general, we noticed that there are several fishing licencing authorities, such as CLAV, CCSBT, IOTC etc.. Also, as indicated in the CLAV sample table below, not all vessels are registered with the same authorization body and each authorization body has different requirement in terms or required parameters. In order to obtain a table with mmsi and gear type, we would have to merge the tables using the vessel's unique ID.

In [1]:
import pandas as pd
import numpy as np

## CLAV Registered Vessels datasets

This is a consolidated vessel datasets with all fishing authorities (but only for certain types of fish). This dataset does not come with mmsi as the identifier. The most unique ID of vessel is the "callsign" assigned to each table.

In [2]:
clav_fleet_registration = pd.read_csv('../data/clav_vessel_registry.csv', error_bad_lines=False)
clav_fleet_registration.head(5)

,VRMFID,Source,DateUpdated,VesselID,TUVI,VesselName,FlagCode,ParentVesselTypeCode,ParentVesselType,VesselTypeCode,...,PreviousFlagCode,PreviousFlagCodeDate,AutStatus,DateAutStart,DateAutEnd,DateAutTerm,AutTermCode,AutTermDescription,AutTermReason,URLID
0,1,CCSBT,2020/02/16 16:16:36,105,2098,CHIN HORNG NO.3,TWN,LO,Liners,LL,...,NaN,NaN,Authorized,2020/02/29 06:00:00,2021/08/30 07:00:00,NaN,NaN,NaN,NaN,20535.0
1,2,CCSBT,2015/09/29 07:00:00,106,2099,HO FU MEI 6,TWN,LO,Liners,LL,...,NaN,NaN,Unauthorized,2014/03/31 06:00:00,2015/09/29 07:00:00,2015/09/29 07:00:00,2.0,Expiration of authorization,Explicit CLAV 'DROP' request,15047.0
2,3,CCSBT,2020/02/16 16:16:36,108,2100,HUNG SHING NO.212,TWN,LO,Liners,LL,...,NaN,NaN,Authorized,2020/02/29 06:00:00,2021/08/30 07:00:00,NaN,NaN,NaN,NaN,20537.0
3,4,CCSBT,2011/03/30 06:00:00,109,2101,HUNG SHENG 212,TWN,LO,Liners,LLT,...,NaN,NaN,Unauthorized,2010/03/31 06:00:00,2011/03/30 06:00:00,2011/03/30 06:00:00,2.0,Expiration of authorization,Explicit CLAV 'DROP' request,9156.0
4,5,CCSBT,2012/03/30 06:00:00,113,2102,HUNG HENG 121,TWN,LO,Liners,LL,...,NaN,NaN,Unauthorized,2011/03/30 13:00:00,2012/03/29 13:00:00,2012/03/30 06:00:00,2.0,Expiration of authorization,Explicit CLAV 'DROP' request,9797.0

## Merging Other Authorization Body's Datasets to Obtain MMSI/Vessels

To get the mmsi of each vessel. We used several registration authorities' vessels list to merge and obtain a general list of fishing vessel mmsi numbers. Moreover, vessel tracking sites that provides data on all fishing vessels such as Marinetraffic do not provide the general fishing gear type/ fishing vessel registration type (maybe with paid option).

The range of the mmsi data is using 2013 and 2016 as benchmark, which correspond to our AIS training data from 2012 to 2016.

In [3]:
europe_fleet_registration_2016 = pd.read_csv('../data/vesselRegistryListResults_2016.csv', sep=';', error_bad_lines=False)
europe_fleet_registration_2016 = europe_fleet_registration_2016[['Name of vessel','IRCS', 'MMSI', 'Vessel Type', 'Main fishing gear', 'Subsidiary fishing gear 1']]
europe_fleet_registration_2013 = pd.read_csv('../data/vesselRegistryListResults_2013.csv', sep=';', error_bad_lines=False)
europe_fleet_registration_2013 = europe_fleet_registration_2013[['Name of vessel','IRCS', 'MMSI', 'Vessel Type', 'Main fishing gear', 'Subsidiary fishing gear 1']]
europe_fleet_registration = pd.concat([europe_fleet_registration_2013, europe_fleet_registration_2016])
europe_fleet_registration = europe_fleet_registration.dropna()
europe_fleet_registration.head(5)

C:\Users\USER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (20,21,22,23,24,25,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\USER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (20,21,22,23,24,25,28,29,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Name of vessel,IRCS,MMSI,Vessel Type,Main fishing gear,Subsidiary fishing gear 1
97,SLAVINO,LZUR,207419000.0,FX,GNS,GND
98,DELTA,LZH2228,207822280.0,FX,GNS,PTM
99,TAIS,LZSU,207293000.0,FX,OTM,GNS
100,Danchovoto Georgi,LZH2323,207823230.0,FX,GNS,GNS
101,HARASIMOV MLADSHI,LZH2732,207827320.0,FX,OTM,GNS

In [4]:
CCSBT_fleet_registration = pd.read_csv('../data/authorised_vessel_record.csv', error_bad_lines=False)
CCSBT_fleet_registration = CCSBT_fleet_registration[['Callsign', 'Vessel Type', 'Gear Type']]
CCSBT_fleet_registration.head(5)

  Callsign Vessel Type Gear Type
0  BH-2021  Longliners  Longline
1  BH-2021  Longliners  Longline
2     BVWV  Longliners  Longline
3     BVWV  Longliners  Longline
4     BVWV  Longliners  Longline

In [5]:
IOTC_fleet_registration = pd.read_csv('../data/IOTC_authorized_vessels.csv', error_bad_lines=False)
IOTC_fleet_registration = IOTC_fleet_registration[['IRCS', 'Type', 'Gear']]
IOTC_fleet_registration.head(5)

      IRCS                   Type                         Gear
0  8QK2169  Pole and Line vessels  Hand line and pole and line
1  8QA2471  Pole and Line vessels  Hand line and pole and line
2  8QO2152  Pole and Line vessels  Hand line and pole and line
3  8QQ2165  Pole and Line vessels  Hand line and pole and line
4  8QT5356  Pole and Line vessels  Hand line and pole and line

In [6]:
fleet_all = pd.merge(europe_fleet_registration, CCSBT_fleet_registration, left_on='IRCS', right_on='Callsign', how='outer')
fleet_all = pd.merge(fleet_all, IOTC_fleet_registration, on='IRCS', how='outer')
fleet_all.drop_duplicates().dropna().head(5)

,Name of vessel,IRCS,MMSI,Vessel Type_x,Main fishing gear,Subsidiary fishing gear 1,Callsign,Vessel Type_y,Gear Type,Type,Gear
607,HERDUSA PRIMERO,EGQR,224022910.0,FX,LLD,NK,EGQR,Longliners,Longline,Longliners,Drifting longline
651,O'COVELO,EDXO,224049530.0,FX,LLD,NK,EDXO,Longliners,Longline,Longliners,Drifting longline
770,MARAL,EFGQ,224544160.0,FX,LLD,NK,EFGQ,Longliners,Longline,Longliners,Drifting longline
1132,FRANIVAN,EA6754,224016530.0,FX,LLD,NK,EA6754,Longliners,Longline,Longliners,Drifting longline
1464,ALEXIA,EA2781,224142870.0,FX,LLD,NK,EA2781,Longliners,Longline,Longliners,Drifting longline

## Vessel Registration Dataset References

https://webgate.ec.europa.eu/fleet-europa/search_en

https://iotc.org/vessels/current

http://clav.iotc.org/browser/search/#.YFPZxp1Kjb0

https://www.iattc.org/VesselRegister/VesselList.aspx?Lang=en#Venezuela